<div class="logo-container text-center">
    <img src="/assets/img/logo.png" alt="Logo">
    <p>
        <em>Quick'n'easy virtual adoption ❤️</em>
    </p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Item 1 <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Item 1</a>
        <a class="nav-item nav-link" href="#">Item 1</a>
        <a class="nav-item nav-link" href="#">Login</a>
    </div>
</nav>