<div class="container my-5">
    <div class="row justify-content-center mb-4">
        <div class="col-lg-6 mb-4">
            <h2>Contact Information</h2>
            <p><strong>Address:</strong> 1250 24th Street, N.W. Washington, DC 20037</p>
            <p><strong>Phone:</strong> (123) 456-7890</p>
            <p><strong>Email:</strong> <a href="mailto:contact@virtualwildlife.org">contact@virtualwildlife.org</a></p>
        </div>
        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.7647505861655!2d-77.05416652359065!3d38.90649464616658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7b5c36d1c95%3A0xff51d6e5014d95c!2sWorld%20Wildlife%20Fund!5e0!3m2!1shr!2shr!4v1701033875065!5m2!1shr!2shr"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    title="Our Location on Map">
                </iframe>
            </div>
        </div>
    </div>
</div>