<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Congratulations!</h1>
        <p class="lead">You have successfully adopted <strong>{{ adoptedAnimal?.name }}</strong>, the adorable {{
            adoptedAnimal?.speciesName }}.</p>
        <hr class="my-4">
        <p>Here are the details of your new furry friend:</p>
        <ul class="list-group">
            <li class="list-group-item">Age: {{ adoptedAnimal?.age }}</li>
            <li class="list-group-item">Description: {{ adoptedAnimal?.description }}</li>
            <li class="list-group-item">Price: ${{ adoptedAnimal?.price }}</li>
        </ul>
        <p class="lead mt-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Go to Homepage</a>
        </p>
    </div>
</div>