<div class="container mt-5">
    <div class="jumbotron" [ngClass]="{'jumbotron-adoptionData': adoptionData}">
        <div *ngIf="adoptionData; else noDataTemplate">
            <div *ngIf="animal$ | async as animal">
                <h1 class="display-4">Congratulations!</h1>
                <p class="lead">
                    You have successfully adopted <strong>{{ animal.name }}</strong>,
                    the adorable {{ animal.speciesName }}. You will shortly receive an email
                    with the certificate of adoption!
                </p>
            </div>
        </div>
        <ng-template #noDataTemplate>
            <h1 class="display-4">Oops!</h1>
            <p class="lead">There's nothing to see here!</p>
        </ng-template>
        <p class="lead mt-4">
            <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Go to Homepage</a>
        </p>
    </div>
</div>