<div class="admin-portal">
    <h2>Welcome, Admin!</h2>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="./users">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./animals">Animal Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./adoptions">Adoption Management</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>